**/node_modules/
**/dist/
**/.vite/
**/.npm/
**/.pnpm-store/

.vs/
.vscode/
.idea/
.DS_Store
Thumbs.db

.git/
.github/
.gitignore
.editorconfig

**/.env
**/.env.*
!**/.env.example

*.md
LICENSE
deploy.sh
